<div class="col-md-4">
    <div class="search">
        <form class="form-inline">
                <input class="form-control" type="text" placeholder="搜索">
                <button type="button" class="btn btn-info">GO</button>
        </form>
    </div> 
    <!-- 联系方式 -->
    <div class="contact">
        <h5>与我联系</h5>
        <ul>
            <li>
                <div class="contact-li">
                    <img class="weibo" src="__PUBLIC__static/images/icons/weibo-colorful.png" alt="微博">
                </div>
            </li>
            <li>
                <div class="contact-li">
                    <img class="qq" src="__PUBLIC__static/images/icons/qq-colorful.png" alt="QQ">
                </div>
            </li>
            <li>
                <div class="contact-li">
                    <img class="email" src="__PUBLIC__static/images/icons/email-colorful.png" alt="邮箱">
                </div>
            </li>
            <li>
                <div class="contact-li">
                    <img class="dingyue" src="__PUBLIC__static/images/icons/dingyue-colorful.png" alt="订阅">
                </div>
            </li>
        </ul>
    </div>
</div>